@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/images/pattern-background-tablet-light.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-image: url("./assets/images/pattern-background-mobile-light.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
